  body {
    background-image: url(image.png);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: rgb(243, 234, 234);
  }
  
  h1, h2, p {
    margin-bottom: 20px;
  }
  .button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
  }
  .button:hover {
    background-color: #d32f2f;
  }
  form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    flex-direction: column;
  }
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    font-size: large;
    line-height: 1;
  }
  .underline {
    text-decoration: underline;
    line-height: 0;
    flex-direction: column;
    color: darkorange;
  }
  .navbar {
    width: 100%;
    overflow: hidden;
  }
  .navbar a {
    float: left;
    display: block;
    color: #b46f08;
    text-align: center;
    padding: 9px 19px;
    text-decoration:none;
    background-color: #4e0a06;
  }
  .navbar a:hover {
    background-color: #bc5b23;
    color: black;
  }
  .container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 55px;
    text-align: center;
    font-size: larger;
    animation: fadeIn 2s;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(184, 7, 7, 0.5);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 9;
    }
  }
  .button, form {
    opacity: 4;
    transform: translateX(-50px);
    animation: slideIn 1s forwards; 
  }
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-70px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  header {
    text-align: left; 
    font-size: x-large;
    font-family: Arial, sans-serif;
    padding: 1.0px; 
    display: flex; 
    align-items: center; 
}
  #logo {
    max-width: 120px; 
    height: auto; 
    margin-right: 2.0px; 
}
  #logo-text {
    font-size: 30px; 
    color: darkorange;
}
li{
  color: darkorange;
}
@media screen and(max-width:600px) {
  aside,article,section{
    width: 100%;
  }
}

